{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}


  <div class="wrapper wrapper--statistic">

    {{ include('/partials/buttonstatistic.html.twig') }}

    <sidebar class="sidebar bg--rose">
      {{ include('/partials/logo.html.twig') }}
      {{ render(controller('App\\Controller\\BarController:mainMenu',)) }}
    </sidebar>

    <main class="">
      <h2>Statistics</h2>
      <div class="fact">

        <div class="fact__box">
          <p class="fact__box__label">Number of clients</p>
          <p class="fact__box__value">{{ clients|length }}</p>
        </div>

        <div class="fact__box">
          <p class="fact__box__label">Average</p>
          <p class="fact__box__value">{{ clients|average }}</p>
        </div>

        <div class="fact__box">
          <p class="fact__box__label">Standard deviation</p>
          <p class="fact__box__value">{{ clients|standardDeviation }}</p>
        </div>
      </div>

      <dl>
      <dt><h3>Number of beers purchased</h3></dt>
        {% for client in clients %}
          <dd class="percentage percentage-{{ ((client.numberBeer)/4)|round(0, 'ceil') }}"><p
                class="text">{{ client.name }}: {{ client.numberBeer }}</p></dd>
        {% endfor %}
      </dl>



      
      <h3>Details</h3>
      <table class="list list--detail">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Number of beers purchased</th>
        </tr>
        {% for client in clients %}
          <tr>
            <td>{{ client.name }}</td>
            <td> {{ client.age }}</td>
            <td>{{ client.numberBeer }}</td>
          </tr>
        {% endfor %}
      </table>

      <dl>
        <dt><h3>Beer per age</h3></dt>

        {% for key, averageAge in averageAgeReport %}
          <dd class="percentage percentage-{{ ((averageAge[1])/4)|round(0, 'ceil') }}">
            <p class="value">{{ averageAge[1] }}</p>
            <p class="text">{% if key is same as (0) %}
                0 - 20
              {% elseif key is same as (1) %}
                20 - 40
              {% elseif key is same as (2) %}
                40 - 60
              {% elseif key is same as (3) %}
                60 - 80
              {% elseif key is same as (4) %}
                80 - 100
              {% endif %}
            </p>
            <p></p>
          </dd>
        {% endfor %}
      </dl>
    </main>
  </div>
{% endblock %}
