{% extends 'base.html.twig' %}

{% block title %}Hello StatisticController!{% endblock %}

{% block body %}

<section class="statistic">

    {{ clients|length }}

    {% for client in clients %}
        name {{ client.email }}, age : {{ client.age }}, nombre de bière achetés : {{ client.numberBeer }}
    {% endfor %}

        <hr>

        {{ clients|average }}

</section>
{% endblock %}
