{% extends 'base.html.twig' %}

{% block title %}Hello StatisticController!{% endblock %}

{% block body %}


<div class="wrapper wrapper--statistic">

    {{ include('/partials/buttonstatistic.html.twig') }}

    <sidebar class="sidebar bg--rose"> 
      {{ include('/partials/logo.html.twig') }}
      {{ render(controller('App\\Controller\\BarController:mainMenu',)) }}
    </sidebar>

    <main class="">
      <h2>Statistic</h2>
      <div class="fact">

        <div class="fact__box">
          <p class="fact__box__label">Nombre de clients</p>
          <p class="fact__box__value">{{ clients|length }}</p>
        </div>

        <div class="fact__box">
          <p class="fact__box__label">Moyenne</p>
          <p class="fact__box__value">{{ clients|average }}</p>
        </div>

        <div class="fact__box">
          <p class="fact__box__label">Ecart type</p>
          <p class="fact__box__value">{{ clients|standardDeviation }}</p>
        </div>

      </div>

  

      <dl>
      <dt><h3>Nombre des biers achete par client</h3></dt>
        {% for client in clients %}
            <dd class="percentage percentage-{{ ((client.numberBeer)/4)|round(0, 'ceil') }}"><p class="text">{{ client.name }}: {{ client.numberBeer}}</p></dd>
        {% endfor %}
      </dl>



      
      <h3>Detailes des client</h3>
      <table class="list list--detail">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Nombres des bières achetés</th>
        </tr>
        {% for client in clients %}
          <tr>
            <td>{{ client.name }}</td>
            <td> {{ client.age }}</td>
            <td>{{ client.numberBeer }}</td>
          </tr>
        {% endfor %}
      </table>

    </main>


    

  </div>
{% endblock %}
